[2012-01-30 03:16] mitar opened #2 "Why only local fields?"
Why are only local fields checked for changes and not all fields?

[2012-03-29 17:12] nazgul opened #4 "Doesn't take internal conversions into account"
With MySQL, I can pass a string "1" to an integer value, and somewhere along the line (Django? MySQL?) it will convert it as appropriate. However the comparisons performed by the mixin will attempt to compare the string I passed with the integer from the database, and since Python (for reasons that completely escape me…this burns me all the time), will not throw an error on the invalid comparison,

[2012-04-04 21:57] nazgul opened #6 "The code doesn't consider it a change if a foreign key changes"
I don't know if there's a general purpose solution to this, but:

 def _as_dict(self):
        return dict([(f.name, getattr(self, f.name)) for f in self._meta.local_fields if not f.rel])

specifically excludes foreign keys with the f.rel.

I ran into this because I'm explicitly setting foo_id to a value (my keys come from an xml file), and is_dirty didn't see the change because it doesn't examine

[2013-11-20 22:58] heston opened #7 "Update PyPI?"
Any chance you could update the version on PyPI? We're using this in production, and just ran into an issue with it that's fixed in master, but not in PyPI (v0.1).

Also, I saw you may be looking for a new owner of django-dirtyfields. I'd be happy to fill the role, if you still have a need.

[2013-11-24 05:06] ErikEvenson opened #8 "Release notes"
Thanks for the great tool.

It would be nice if you had some version release notes to aid in upgrading from version to version.

[2015-01-13 08:46] hobbestigrou opened #13 "Be pep8 compliant."
The project is great but is better to be pep8 compliant.

[2015-01-15 08:25] hobbestigrou opened #14 "Optimize the code."
Is better to use {}:

http://stackoverflow.com/questions/5790860/and-vs-list-and-dict-which-is-better
http://doughellmann.com/2012/11/12/the-performance-impact-of-using-dict-instead-of-in-cpython-2-7-2.html

It's not essential but it's be more speed.

[2015-01-15 11:25] smn opened #15 "Let's get this on travis-ci"

[2015-02-06 19:42] erichonkanen commented on #2
yes yes yes! I found this and thought "oh how cool!", until I realized it doesnt work for foreignkey :(

[2015-02-07 06:53] smn commented on #2
There are multiple people asking for this. I'm more than happy to review any contributed code.

[2015-02-07 16:57] erichonkanen commented on #2
I'll take a stab at it soon if no one else does... found this too which may or may not apply http://www.netlandish.com/blog/2013/12/14/easily-track-data-changes-in-your-django-models/

[2015-02-22 20:33] romgar commented on #15
I can work on it if you want.

[2015-02-26 07:23] smn commented on #15
Happy to review any pull-requests.

[2015-03-05 16:20] stevelacey opened #17 "KeyError in get_dirty_fields"
I am investigating a weird problem I can only replicate in certain environments (Sempahore... and production.. annoyingly) where I get a keyerror from dirtyfields.

[code]

[code]

Any ideas what might be the cause of this @smn? Could the state being incorrectly frozen when the object is initialized? The updated_at field is a regular datetime for all intents and purposes and is simply updated by a

[2015-03-05 16:37] stevelacey commented on #17
I rolled back to 2106caf and the problem seems to have gone away – so I'm thinking it's an edge regression since then.

Sidenote: please please please semver

[2015-03-15 13:46] romgar commented on #17
But difference between 0.1 and last one (0.3) is really minor...

Your model has a defined `updated_at` field ? Can you show your model ? You have the same versions of django/dirtyfield in local and production ?

[2015-03-15 21:31] romgar commented on #2
This issue can be closed, because of PR #16 ?

[2015-03-15 21:37] romgar commented on #6
PR #16 resolve this issue for you guys ?

[2015-03-19 14:49] smn commented on #7
@romgar added you as a contributor.

I've also switched to `develop` as the main branch, I'm used to using the Git Flow way of working.
1. Development happens in feature branches
2. Pull requests against develop
3. Releases happen off of develop
4. Master always at the latest release
5. Releases result in a tag in git which results in an automatic deploy to Pypi from Travis (assuming the version n

[2015-03-19 14:49] #7 closed

[2015-03-19 14:50] smn commented on #15
Thanks, landed.

[2015-03-19 14:50] #15 closed

[2015-03-19 14:51] smn commented on #7
Also, when version bumping please stick with semver.org's recommendations.

[2015-03-19 14:52] smn commented on #17
A failing test somewhere (Travis) would be great to help debug.

[2015-03-19 14:52] smn commented on #17
Also thanks on the semver nudge. Time to get this code base into better shape.

[2015-03-19 17:57] romgar commented on #7
Great, thanks !
I'm more used to use master as the latest one, and create branches/tags for releases, but ok to follow your recommendations :-)

[2015-03-19 17:59] romgar commented on #6
I'm closing this issue, as there is now a `check_relationship` parameter to track foreignkey changes.

[2015-03-19 17:59] #6 closed

[2015-03-19 18:00] smn commented on #7
Cool, fwiw [here's the background info](http://nvie.com/posts/a-successful-git-branching-model/) on git flow and [here's some info on installing the command line helpers](https://github.com/nvie/gitflow/wiki/Installation).

[2015-03-19 18:03] romgar commented on #2
Foreign keys are now managed with `check_relationship` parameter.

For m2m relations, we are adding new instances to an object with `.add()` method, that is saving them in db. Dirtyfield is then useless in that case.

[2015-03-19 18:03] #2 closed

[2015-03-19 18:11] romgar commented on #7
I will have a look at it !

[2015-03-19 23:53] prathapsridharan commented on #17
pip install django-dirtyfields doesn't pull the correct codebase.

is_dirty doesn't even have the check_relationship param as per the code downloaded. For now I am working around this by making pip download from head of master branch.

[2015-03-19 23:54] prathapsridharan opened #20 "pip install django-dirtyfields doesn't pull the most up-to-date code"
pip install django-dirtyfields

doesn't pull the correct codebase.

For instance, is_dirty doesn't even have the check_relationship param as per the code downloaded. For now I am working around this by making pip download from head of master branch.

[2015-03-20 09:42] romgar commented on #20
Hi @prathapsridharan ,

We have not yet released the latest version on pypi. @smn , I think it can be good to talk about when releasing a new version.

[2015-03-20 22:44] prathapsridharan commented on #20
Thank you! I figured that might have been the case but just wanted to let you know if there was indeed some other issue.

Cheers,

Prathap

[2015-03-23 12:41] smn commented on #20
@romgar if you follow the Git flow release process it'll result in a new release on Pypi. Just make sure to update the version number and have it conform with semver.org's recommendations on what the next reasonable version number is?

[2015-03-23 13:05] romgar commented on #20
Ok !!

[2015-03-31 10:06] angelo-romano commented on #20
wanted to ask the same actually. Any short term plans for a new version release? that'd be great, indeed the check_relationship improvement would be quite helpful for a task I'm working on right now. Keep up the good work, by the way!

[2015-03-31 10:52] romgar commented on #20
Hi @angelo-romano , I expect to spend some time really soon (days).

[2015-03-31 20:37] romgar commented on #20
@angelo-romano version 0.4 (with `check_relationship`) is released, enjoy !

[2015-03-31 20:37] #20 closed

[2015-03-31 20:46] smn commented on #20
nice work @romgar, thank you.

[2015-04-01 09:39] angelo-romano commented on #17
This one is happening to me as well. I also offered a pull request that fixes this issue locally for me. Feel free to have a look and work over it accordingly.

[2015-04-01 10:47] angelo-romano opened #22 "Recursion error with version 0.4"
I am getting a maximum recursion error on a unit test after the switch to version 0.4. I assume it is being caused by the call to ._full_dict(), namely.

[code]

[2015-04-01 11:29] romgar commented on #22
Can you post some code related to your test (and everything you think useful), so that I can try to reproduce it ?

[2015-04-01 14:48] mjtamlyn opened #23 "Empty models.py not needed"
Since the [app loading refactor](https://docs.djangoproject.com/fr/1.7/releases/1.7/#app-loading-refactor) in Django 1.7, there has been no need for installed apps to have an empty `models.py`. Given that this doesn't actually need to be an installed app at all, there's no need to have it anyway.

[2015-04-01 20:05] romgar commented on #23
I would like to support Django 1.4+ for now, as 1.4 support ends only in October 2015.

But you are right that we don't need to add it to `INSTALLED_APPS`, so I will remove it.

[2015-04-03 11:08] byashimov commented on #22
Same here.
`_full_dict` calls `model_to_dict(self)`
which calls obj's `__init__`
which calls `reset_state`
which calls `instance._full_dict()`

[2015-04-03 11:26] romgar commented on #22
I'm at the end removing this `model_to_dict`, fix coming soon.

[2015-04-03 13:35] romgar commented on #22
Can you give me some code to reproduce this problem, so that I can also create a test to be sure that my fix is correcting your problem @byashimov ?

[2015-04-03 14:17] byashimov commented on #22
Here is your test case:

[code]
[code]

It doesn't work with deferred objects.

[2015-04-03 23:01] romgar commented on #22
Thanks @byashimov !

[2015-04-03 23:39] romgar commented on #8
`ChangeLog.rst` file added.

@smn, if you remember what changed on previous versions, feel free to update it.

It will now will be updated on each new release.

[2015-04-03 23:39] #8 closed

[2015-04-03 23:45] romgar commented on #17
@angelo-romano,  I think that your issue is not related to the same problem (and will be resolved in next minor release by #24).

@stevelacey, can you give some additional informations (code example, precise context, test, ...) so that we can try to resolve it ?

[2015-04-04 00:03] stevelacey commented on #17
Happy to test a build you think fixes the problem, but I've already spent trying to debug the cause and gotten deep enough to lose interest – IIRC any of the recent commits broke my CI – so give me a nudge if there's a commit you want me to try out.

[2015-04-07 12:26] hernantz commented on #17
I'm having the same issue. This is happening with `DateTimeFields` that `have auto_now_add=True`, as model_to_dict will exclude them for being `editable=False`.

The `check_relationship` release introduced this bug.
Steps to reproduce:
1) Create a model with a non-editable field. Eg: a DateTimeField with auto_now_add=True.
2) Call `model_instance.get_dirty_fields()`
3) See that a `KeyError` except

[2015-04-07 13:01] BakanovKirill commented on #17
+1

[2015-04-08 14:15] #17 closed

[2015-04-08 22:28] romgar commented on #23
Fixed on last released version (0.4.1).

[2015-04-08 22:28] #23 closed

[2015-04-08 22:29] romgar commented on #22
Hi @angelo-romano , can you check with last released version, 0.4.1 ?

[2015-04-08 22:30] romgar commented on #4
Hi @jimrollenhagen , I'm just reviewing every old issue/pull request (3 years for this one...), so I will do something shortly about that issue.

[2015-04-09 06:03] busy opened #26 "Can not create new object"
I try to use your app, for early created object it work, but when i try create new object with ForeignKey i catch error "RelatedObjectDoesNotExist"

class TestObject(DirtyFieldsMixin):
    category = models.ForeignKey(Category)
    title = models.CharField('Title', max_length=255, blank=True, default='')

[2015-04-09 07:58] angelo-romano commented on #22
it seems like not having fixed this, sorry.

/home/angelo/.virtualenvs/online/src/online-apps/myapp/models.py in __init__
        super(MyModel, self).__init__(*args, **kwargs) ...
▶ Local vars
/home/angelo/.virtualenvs/online/src/django/django/db/models/base.py in __init__
        super(Model, self).__init__() ...
▶ Local vars
/home/angelo/.virtualenvs/online/local/lib/python2.7/site-packages/dir

[2015-04-09 09:10] romgar commented on #22
@angelo-romano can you give some code related to this issue please ? Your test that is triggering this recursion error for example ?

[2015-04-09 19:21] romgar commented on #26
Hi @busy ! Thanks for reporting. I have reproduced this problem, and will fix it soon.

[2015-04-14 13:26] angelo-romano commented on #22
it's not triggered by a test, but by the app itself when trying to import the model. Will try to come around with a unit test for it.

[2015-04-14 14:35] angelo-romano commented on #22
here we have it: https://github.com/smn/django-dirtyfields/pull/28

[2015-04-14 20:01] romgar commented on #22
Thanks a lot @angelo-romano. Will work on it.

[2015-04-16 09:50] brennerm opened #29 "Not working with Python3"
The ```get_dirty_fields``` function uses ```dict.iteritems()``` which has been removed in Python3. Can we find a fix for that?

[2015-04-16 09:55] brennerm commented on #29
A workaround for now is to replace ```for key, value in new_state.iteritems():``` with ```for key, value in new_state.items():``` in dirtyfields.py:31. Using this with Python2 creates a list of tuples, which can be memory expensive.

[2015-04-16 10:23] smn commented on #29
Thanks for raising, more than happy to look at a pull-request that would add support for py3.

[2015-04-16 10:56] brennerm commented on #29
There you go ;)
https://github.com/smn/django-dirtyfields/pull/30

[2015-04-16 11:54] romgar commented on #29
For that kind of compatibility problem, it could be more interesting to use something like six, that is used for python 2/3 compatibility (https://pythonhosted.org/six/)

[2015-04-22 15:50] jazzywhit commented on #26
:facepalm: I should have looked here first :)

[2015-04-22 16:07] romgar commented on #26
@jazzywhit Yep ! No worries.

[2015-04-24 13:53] romgar commented on #29
#30 has fixed this (and #31 has added py3 travis support)

[2015-04-24 13:53] #29 closed

[2015-05-01 06:30] wolfg1969 opened #34 "Model loading issue after upgrade to 0.4"
I have a model with multiple foreign keys. After upgrade to 0.4, it is very slow to loading the model objects, since there are a lot of queries for relation objects, even for getting a single object. Obviously it is a N+1 query problem.

[2015-05-04 20:25] romgar commented on #34
Hi @wolfg1969 ! I guess that you are using `check_relationship=True` option ?

For now, we are getting foreign key model instance on dirty field checking, but it could be a better idea to get `<fk_field_name>_id` value to avoid that extra query on each `ForeignKey` field.

[2015-05-05 01:54] wolfg1969 commented on #34
@romgar I don't call ```get_dirty_fields``` method on model instance. I just make a model querying like this ```Model.objects.filter(...)```. I guess the cause is that the ```reset_state``` function set  ```check_relationship=True``` option when calling ```_as_dict``` and it is called in instance ```__init__``` method.

[2015-05-06 12:15] romgar commented on #34
@wolfg1969 Thanks for details. I will fix that.

[2015-05-08 09:20] romgar commented on #26
Fixed in 0.5 (released today).

[2015-05-08 09:20] #26 closed

[2015-05-08 18:46] romgar commented on #34
@wolfg1969 I don't easily manage to reproduce your problem. Can you give me some code example (how you define your model, how you call it, ideally create a test case), so that I can use it to be sure I resolve this issue ?

[2015-05-09 03:13] wolfg1969 commented on #34
Hi @romgar I write a test case for this issue, you can download the patch from https://github.com/smn/django-dirtyfields/pull/35.patch . The PR can be ignored. Hope this will help you.

[2015-05-10 19:40] romgar commented on #34
Great work @wolfg1969 !!

I will merge your PR (you deserve to appear in contributor list), and just improve 2-3 little things (use @override_settings decorator for `DEBUG=True`, move `query_num` in another file, ...).

Thanks again !

[2015-05-11 01:00] wolfg1969 commented on #34
@romgar :+1:

[2015-05-12 14:11] #34 closed

[2015-05-12 14:13] romgar commented on #34
I think that I will release a new minor version of django_dirtyfields with this fix, as we are now returning foreign key ids instead of model instances on `get_dirty_fields()` .

[2015-05-13 13:53] romgar commented on #22
This issue is now fixed. You can test it on your project with `develop` branch, and will be released on `0.6` version.

[2015-05-13 13:53] #22 closed

[2015-05-19 17:22] #4 closed

[2015-06-05 16:09] dalberto opened #37 "KeyError when foreign key is initially set."
I've encountered an issue where dirtyfields throws a `KeyError` when `check_relationship=True` and a model is initially being saved, so `_original_state` is an empty dictionary. The fix is simple but I'm not sure if it would cause unexpected behavior for others.

The fix can be found here:
https://github.com/dalberto/django-dirtyfields/commit/fa4056b775d8ef3cc05a42b28d186497eb3892b0

[2015-06-05 17:19] romgar commented on #37
Hi @dalberto, can you write a test case to reproduce it ?

[2015-06-09 13:48] MounirMesselmeni opened #38 "New Pypi release"
There is a big performance issue on the current version "0.5" with the related fields (FK or o2o), SQL queries count (Using Debug toolbar) can be from 20 to 400 and even more with this update (from "0.3" to "0.5")
This is not the case when installing directly from git.

Thanks

[2015-06-09 13:50] romgar commented on #38
Hi @MounirMesselmeni !
The new release (0.6) will be deployed soon (few days) to fix that.
Thanks for reporting.

[2015-06-09 13:52] MounirMesselmeni commented on #38
Thank you very much :+1:

[2015-06-11 13:11] romgar commented on #38
0.6 released !

[2015-06-11 13:11] #38 closed

[2015-06-11 14:07] MounirMesselmeni opened #39 "Using F objects raise an exception when calling save"
ValidationError
[u"'F(field_name) + Value(1)' value must be an integer."]

dirtyfields/dirtyfields.py ? in _as_dict

[code]

[2015-06-11 14:14] romgar commented on #39
Hi @MounirMesselmeni , can you give some related code please ? The model you have defined, ...

[2015-06-11 14:26] MounirMesselmeni commented on #39
@romgar Use any model this does not matter, just try to use F object and call save method

[code]

Run this:

[code]
ValidationError: [u"'F(counter) + Value(1)' value must be an integer."]

This is a regression on the 0.6 release

[2015-06-12 09:19] romgar commented on #39
Not a so usual case. Will deal with it.

[2015-06-12 09:28] MounirMesselmeni commented on #39
Yeah but it's a regression related to calling to_python.
https://github.com/smn/django-dirtyfields/commit/bf7a637a7044a8f9b8ffc837788e0ab52be6f72b#diff-03d4c5a503f183e4ca7f22ee6904bc06R24

[2015-06-12 09:47] romgar commented on #39
Yep. Catched.

[2015-06-12 21:10] romgar commented on #39
I have tried a naive approach to resolve it #40. If anybody has a better idea, feel free to propose :-)

[2015-06-14 12:11] romgar commented on #37
Or at least, give an example of your model(s) and how you have used dirtyfields ?

[2015-06-14 12:30] #39 closed

[2015-06-21 00:22] dalberto commented on #37
Hmm, I tried to reproduce in an isolated environment and it doesn't seem like this is an issue anymore.

[2015-06-21 00:22] #37 closed

[2015-06-21 10:53] romgar commented on #37
Good news ! Thanks for reporting and closing !!

[2015-06-23 20:37] romgar opened #44 "Ideas of functionalities we could add to dirtyfields"
By looking to some forks with really good ideas, I think we could improve/add `dirtyfields` functionalities, like (to be continued) :
- [x] Be able to `save` only dirty fields of a model with `update` logic.

If you have any ideas/needs, that the perfect issue to talk about it !!

[2015-06-24 08:00] smn opened #45 "Get repo ready for transferring to romgar."
I'm not at all active on this project anymore, @romgar's been doing a stellar job at working on this and I'd like to transfer the repo to him.

If anyone has any objections then please shout.
The only thing I'd probably want to look at is adding an AUTHORS file to keep track of contributions made over time.

[2015-06-24 17:25] romgar commented on #45
And if you have any ideas on how to improve dirtyfields, you can participate on issue #44 :-)

[2015-10-29 09:26] #44 closed

[2015-12-23 23:13] samonderous opened #53 "datetime naive versus aware compare issue"
In 0.8.1, At line 56 in dirtyfields.py, this comparison is failing because of naive vs aware datetimes. The check_relationship flag has the default value set to False.

  56.             if value != original_value:

Exception Type: TypeError at ***
Exception Value: can't compare offset-naive and offset-aware datetimes

[2015-12-24 17:44] romgar commented on #53
Hi @samonderous ! Thanks for reporting, I will look into it early January (currently on holidays) !!

[2016-01-21 22:21] romgar commented on #53
@samonderous At the end I'm just wondering if `django-dirtyfields` should manage this error instead of the end-user.
Trying to compare some data that are not coherent with your backend seems a bit weird and I'm not convinced it has to be converted under the hood.

[2016-03-08 23:31] romgar commented on #53
@samonderous You can now use `compare_function` parameter to manage that kind of situation. Doc at http://django-dirtyfields.readthedocs.org/en/develop/#custom-comparison-function, you can use `timezone_support_compare` function.
It will be in `0.8.2` release.

[2016-03-08 23:31] #53 closed

[2016-03-19 17:45] romgar opened #59 "get_dirty_fields should be more verbose when some elements differ"
Instead of just having the previous value, we should provide `before` and `after` to help result understanding.

[2016-05-03 13:34] davidmir opened #61 "Log user and timestamp"
Hi,

It's possible to save the user that modified the field and the timestamp?

Thanks

[2016-05-03 14:01] romgar commented on #61
Hi @davidmir,
I don't think it's a good idea to save user informations, as models are independent from the request cycle (where you get the user).
The timestamp would be more feasible, but would only keep the latest update.
If you want to track updates on your models, have a look at `django-audit-log` (https://github.com/Atomidata/django-audit-log), which keeps an history of your objects and also

[2016-05-07 10:48] romgar commented on #59
Fixed by #60.

[2016-05-07 10:48] #59 closed

[2016-05-23 18:08] #61 closed

[2016-05-28 21:23] romgar opened #64 "Add documentation for m2m dirty check"

[2016-05-30 12:38] imaia opened #65 "Different creation behavior"
If I do this:
[code]

I believe both examples should behave like the first example.

[2016-05-30 15:28] romgar commented on #65
Hi @imaia,

This behaviour is expected.
The idea of `django-dirty-fields` is to compare in-memory field values and database ones for a given object.

In the first example, your object is only in memory and has no database record for it, so `django-dirty-fields` considers that he is dirty.
In the second example, you just saved the model in the database, so your in-memory object and your database re

[2016-05-30 16:15] imaia commented on #65
In the second example, inside the signals, the instance is considered also not dirty. Should this happen?

[2016-05-30 16:50] romgar commented on #65
Can you please be more precise ?

Can you also describe a bit more your usecase ? With some code examples ?

Note that `django-dirty-fields` uses `post_save` signal to update its internal state.

[2016-05-30 16:56] imaia commented on #65
In the example below, I show a use case. My actual use case is with an hashcode, that is updated only if certain fields are altered:

[code]

[2016-05-30 17:31] #64 closed

[2016-05-30 17:58] romgar commented on #65
Thanks for this example ! I will have a look and come back to you soon.

[2016-06-03 16:03] romgar commented on #65
These 2 situations are strictly equivalent:
[code]

The difference is in Model initialisation.
`django-dirty-fields` has some logic to initialise its first original state in `__init__` method.
Having `Model(field='a')` means that it's original state is `{field:'a'}`, while calling `Model()` initialise its original state to `{field:''}`, so the 2 different situations are not equals, which doesn't m

[2016-06-19 16:05] romgar commented on #65
Hey @imaia !

I have worked on it and added a more consistent behavior for model instances not yet saved in the database.
It will affect your `pre_save` logic, and the result will be what you expected.
You can have a look at `init_issue_for_dirty_fields` branch to test it in your project.

I will release this change in a major version release (probably `1.0`), as it breaks compatibility for people

[2016-06-19 20:24] mikepelley opened #69 "Deprecated warning for get_m2m_with_model"
It looks like get_m2m_with_model has been deprecated. Here are the two warnings generated with the latest release:

    /home/mike/workspace/venv3/lib/python3.4/site-packages/dirtyfields/dirtyfields.py:25: RemovedInDjango110Warning: 'get_m2m_with_model is an unofficial API that has been deprecated. You may be able to replace it with 'get_fields()'
      for m2m_field, model in self._meta.get_m2m_w

[2016-06-19 20:55] romgar commented on #69
@mikepelley it was in my TODO list :-) Thanks for reporting!

[2016-06-19 21:08] romgar opened #70 "Remove useless is_dirty and get_dirty_fields calls in tests"
A lot of tests call `is_dirty` or `get_dirty_fields` where it is not needed at all.
We should clean these tests by removing these unnecessary calls.

[2016-06-20 14:37] imaia commented on #65
Wonderful! I'll take a look as soon as I can.

[2016-06-20 14:37] #65 closed

[2016-06-26 12:42] #69 closed

[2016-06-26 14:58] #70 closed

[2016-07-08 11:23] MounirMesselmeni opened #73 "_as_dict_m2m make a lot more extra queries"
Hi,

_as_dict_m2m make extra queries even when I prefetch_related m2m fields.

My example is the following, `A` have a FK to `B` and `B` have a m2m to `C`
B is the only model using DirtyFieldMixin. Doing ```A.objects.all().prefetch_related('b__c')``` will not avoid extra queries.
Is there a way to avoid this or to disable m2m checks and initialisation?

[2016-07-08 23:07] romgar commented on #73
Hi @MounirMesselmeni !

I will have a look.
On the worst case, I can add an option to `DirtyFieldMixin` to allow you to disable it if not needed.

[2016-07-22 09:56] kierun opened #74 "AttributeError: model object has no attribute 'id'"
When running one of my tests (Django 1.9.8 and django-dirtyfields
1.0) I got this weird exception. My `Assembly` model does not have a `id` instead its primary key is called `serial_number`.

Is there an assumption anywhere that all models must have a `id`?

[code]

[2016-07-23 09:03] romgar commented on #74
Hi @kierun, some code in `django-dirtyfields` was relying on `id` field, which is wrong as soon as you define a custom primary key in your model.
I have fixed that, it will be available in `1.0.1` release!

[2016-07-23 09:10] #74 closed

[2016-07-23 10:07] romgar commented on #73
At the end, the option to deactivate it is the only thing I could see to make it work. But then it means that you won't be able to check m2m fields diff.
I have just created a PR for that.

[2016-07-25 06:37] kierun commented on #74
Thank you very much.

[2016-07-25 08:33] MounirMesselmeni commented on #73
Hi, thanks for your reply. I would say yes, I prefer this to hundreds of extra queries on many places (API, pages, ...) I would suggest to disable it by default to warn users about possible extra queries and why not find a better way to prefetch this m2m relations to reduce the queries count.

[2016-07-26 19:17] romgar commented on #73
That's probably a better idea to turn it off by default, I agree.

About the prefetch, feel free to propose a solution if you think about one :-)

[2016-08-04 18:33] #73 closed

[2016-08-05 08:42] prajnamort opened #77 "Shallow copy does not work with Django 1.9's JSONField."
Use a deepcopy would fix that.

[2016-08-05 08:51] romgar commented on #77
Good to know. I will add some postgresql specific tests! Thanks for your feedback @prajnamort !

[2016-08-05 09:58] kierun opened #78 "Django 1.10 compatibility issue"
I have two models, `Assembly` and `Location`.  An assembly may contain other assemblies so when a location changes, I want to make sure the location of all the sub-assemblies changes as well. The code to do this is:

[code]

This used to work fine with `dirtyfields` version 0.8.2. However, with 1.1 it does not. Here is some debugging information:

[code]

Am I doing something wrong?

[2016-08-05 10:17] kierun commented on #78
Looking into it a little more, it appears to be a problem with Django `1.10.0`.  If I use `1.9.8`, all is fine. Weird.

[2016-08-05 12:09] romgar commented on #78
Hi @kierun,

`django-dirty-fields` is not yet compatible with Django `1.10`, that's why you have this issue.
I will work on that quite soon!!

[2016-08-05 12:12] kierun commented on #78
@romgar Well, that would indeed explain it. :) Thank you.

If you need someone to test something, please let me know.

[2016-08-05 14:55] romgar commented on #78
@kierun you can give a try to `compatibility_with_django_1_10` branch, it should be better!

[2016-08-08 08:11] kierun commented on #78
Apologies, did not see this till today. I tried it, HEAD is `commit 707527afda9563cab1c0bc61600ba6efcdd86adb` and I am still getting the same error as above.

[2016-08-08 08:46] romgar commented on #78
Can you please create a MR and write a test that reproduces it?

[2016-08-08 09:17] kierun commented on #78
For some reason ("Unfortunately, we don’t support that file type."… But it's a ZIP file?), I cannot attach the code. So, here it is in all its gorey details:

[code]

[2016-08-08 09:19] kierun commented on #78
As a side note, I am not that experienced with Django so my assumption that the above code is actually how you should do that might be erroneous…

[2016-08-08 21:47] romgar commented on #78
I will have a deeper look soon @kierun.
What is sure is that there were some compatibility issues with Django `1.10` anyway :-)

[2016-08-09 06:33] kierun commented on #78
@romgar Thank you very much. Let me know if you need anything more from me as I am ready to help.

[2016-08-09 19:32] romgar commented on #78
Hi @kierun,

After investigations, I reproduced all issues you have/had:
- Commit `707527afda9563cab1c0bc61600ba6efcdd86adb` is fixing almost all of them,
- From the code you copy/pasted, you forgot a `save()`:

[code]

You also don't need to call `is_dirty` and `get_dirty_fields` in your example:
[code]
Tell me if it sounds better with these feedbacks.

[2016-08-10 12:17] kierun commented on #78
Thank you for the code clean up! The `save()` is now much more pythonic.

Yes, I was missing the `sub.save()`!  In my real project, it was there but…

On the real project, somehow `python setup.py install` mixed with the old pip installed version. resulting in  some subtly broken mix of old and new version of `dirtyfield`.  Having sorted that, the tests now pass again.

So, I guess that fixes it.

[2016-08-10 19:23] #78 closed

[2016-08-12 09:09] romgar commented on #78
Version `1.2` released and compatible with Django 1.10, you can now use this one.

[2016-08-16 08:58] 9thbit opened #80 "Use of `Field.rel` raises warnings from Django 1.9+"
The use of `field.rel` on https://github.com/romgar/django-dirtyfields/blob/develop/src/dirtyfields/dirtyfields.py#L43 causes warnings to be raised because of its deprecation from Django 1.9+

See: https://docs.djangoproject.com/en/1.10/releases/1.9/#field-rel-changes

[2016-08-16 20:23] romgar commented on #80
Thanks @9thbit for the report! I will fix it!

[2016-08-17 20:50] romgar commented on #77
@prajnamort a basic test for `JSONField` is working (#82).

Can you copy/paste some code that is not working as you expected, or even better, write a test for it?

[2016-08-18 20:40] #80 closed

[2016-08-18 20:43] romgar commented on #80
It will be released in version `1.2.1`.

[2016-08-18 21:23] 9thbit commented on #80
Fantastic, thanks very much @romgar!

[2016-08-23 16:14] tomage opened #84 "Using only in conjunction with 2 foreign keys on a model broken"
Hello,

I found a rather interesting edge case when using this library in a project.

Namely, it seems that having a model with 2 foreign keys, and applying ".only" to it's QuerySet makes it recurse forever.

[code]

Seems like this happens through this line in dirtyfields.py, but I didn't really dig too far into it:
[code]

[2016-08-23 16:50] romgar commented on #84
Hi @tomage!

Thanks for the reporting.
Can you create a Pull Request which add this test (or can I use your code as an example)?
I will have a look!

[2016-08-23 16:56] tomage commented on #84
Feel absolutely free to use my example code - should work just fine within the testing framework you already have in the library codebase (indeed that's where I tested it ;)).

Oh, one thing I completely forgot! I got this error using Django 1.9.4 - but using, say, Django 1.7 (i.e. tox -e django17), seems to work just fine.

[2016-08-23 17:00] romgar commented on #84
You are right, it breaks from Django `1.8` series. I already had some issues with deferred fields, it seems that's not completely fixed :-)

[2016-08-24 08:10] #84 closed

[2016-08-24 08:11] romgar commented on #84
This fix will be released in version `1.2.1`.

[2016-08-24 20:10] imaia opened #86 "post_save get_dirty_fields dict has fewer keys"
Hello. Today, during tests, after upgrading to django dirtyfields 1.2, I noticed that get_dirty_fields returns a different dictionary during pre_save and post_save if I'm creating a new object.

In post_save, it will only show fields that were modifed during pre_save. In pre_save, it will show all fields, if it is a new model instance. Why is that? Is that expected?

[2016-08-25 09:29] romgar commented on #86
Hi @imaia! Can you copy/paste some code examples to demonstrate your issue?
It is indeed expected to have all fields to be dirty in a new model instance in a `pre_save` signal. Being "dirty" means that the value on the model is different than the database one, which is always true when you don't have saved it yet.
As `django-dirtyfields` is relying on `post_save` signal to update its internal stat

[2016-08-29 08:25] prajnamort commented on #77
[code]

[2016-08-30 02:06] prajnamort commented on #77
@romgar
In fact, this issue exists for all mutable fields (jsonfield, postgresql array, postgresql json).
Using a deepcopy would solve that ([#87](https://github.com/romgar/django-dirtyfields/pull/87))

[2016-08-30 05:51] prajnamort opened #88 "It does not work if pk is specified."
It does not work if pk is specified.
`if not self.pk` shouldn't be used to judge the state.

[2016-08-30 05:53] prajnamort commented on #88
@romgar
I'm not sure whether the `if self.pk` statement in `_as_dict_m2m` shares the same problem since I didn't use m2m_check.

[2016-08-30 20:45] romgar commented on #77
I'm in holidays right now. I will come back to you in 2 weeks (also regarding the pk issue #89). Thanks for your contributions!!

[2016-09-17 23:14] romgar commented on #77
Fixed by MR #87! Thanks @prajnamort.

[2016-09-17 23:14] #77 closed

[2016-10-26 19:49] romgar commented on #86
Closing this one. Please reopen it if needed @imaia.

[2016-10-26 19:49] #86 closed

[2016-10-26 20:21] romgar commented on #88
It's not that easy to detect if a model has already been saved in the db without extra queries.

Giving your example, we definitely can't rely on `id/pk`, but I don't see right now a way to distinguish:
- data coming from the database,
- data that we initialize with a specific `id/pk` value.

When the instances are returned from a Django query, they are initialized on the same way as we could have

[2016-11-02 07:09] jdotjdot opened #94 "Infinite loop when using double MonitorField from django-model-utils with defer()/only()"
We just upgraded to Django 1.10 and use `DirtyFieldsMixin` all over the place. After much debugging after finding an issue, we've noticed that when using `.only()` or `.defer()` with `.get()` on a model that subclasses `DirtyFieldsMixin`, you will end up in an infinite loop that maxes out with a maximum recursion error.

[2016-11-09 19:53] romgar commented on #94
Hi @jdotjdot,

Can you please write a test to show this issue?

[2016-11-09 19:55] romgar commented on #88
For now, I don't find any solution for this particular issue with current logic. If somebody has an idea, I'm interested.

At the meantime, I will update the documentation with this special case.

[2016-11-09 20:08] #88 closed

[2016-11-10 04:25] jdotjdot commented on #94
It looks like this may be an odd conflict with `MonitorField` from [django-model-utils](https://github.com/carljm/django-model-utils).  I'm continuing to investigate.

[2016-11-11 12:28] vannitotaro commented on #94
Same problem here (Django 1.10).

Minimum test case:

`MyDirtyFieldsModel.objects.only('id').first()`

[code]

`RuntimeError: maximum recursion depth exceeded`

[2016-11-11 15:02] jdotjdot commented on #94
@vannitotaro  you rock--so it's not just me. I reproduce it every time in our codebase, but so far I have not been able to properly write a failing test. It's very odd.

[2016-11-12 23:20] romgar commented on #94
Sounds a regression of #22 :'(

Some tests have been written to cover it. Seems not enough.

@vannitotaro can you give more context? The definition of `MyDirtyFieldsModel`? In which context are you calling this `only`?

If you could write a test to reproduce it, it would help me to fix it (I have tried a basic model and `only` call, but can't reproduce this recursive error...).

[2016-11-13 10:29] vannitotaro commented on #94
Hi @romgar, first of all thank you for your time! I'll try to write a minimum test case - I thought it was already a valid one, but as per your tests the issue seems bound to specific model definitions. In the meantime I'll give you some context about the error I get in production.

Running `MyDirtyFieldsModel.objects.only('id').first()` - where `MyDirtyFieldsModel` is a bug-report placeholder for

[2016-11-13 15:03] romgar commented on #94
Can you copy/paste your 2 models?

Issue #84 was raised involving 2 `ForeignKey` and deferred fields. It fixed the situation described in the test written in the corresponding MR, but you probably have another use case :-)

[2016-11-13 23:56] vannitotaro commented on #94
@romgar unfortunately I cannot share production code. Anyway I applied `DirtyFieldsMixin` to all my models: **the recursion error is always raised if there are two or more `ForeignKey`s**.

I've a model with only two fields, both ForeignKey, and the exception is raised. Adapted code:

[code]

I see **two differences** between the issue #84 test (https://github.com/romgar/django-dirtyfields/blob/de

[2016-11-13 23:58] jdotjdot commented on #94
Interesting.  My models also definitely have >1 foreign key.

[2016-11-15 09:34] vannitotaro commented on #94
Just tried my testcase on a standalone run of django-dirtyfields tox and no RuntimeError is raised... I'll try to understand what's missing to trigger the exception.

[2016-11-15 10:36] vannitotaro commented on #94
@romgar @jdotjdot after debugging in production, I discovered what have been already discovered, i.e. that this bug is the same as issue #84 and already solved by PR #85.

**The remaining bug here is that `django-dirtyfields` package on PyPI shoud be updated asap for all the people using `pip` to install it.** 🤓

Thank you! 👍

[2016-11-15 15:07] vannitotaro commented on #94
@jdotjdot could you try installing `django-dirtyfields` latest version from sources to see if your exceptions go away too so that @romgar may close this issue?

[2016-11-15 23:51] romgar commented on #94
Sorry about that @vannitotaro... I thought I released a new version few time ago. Thanks for investigating!

I will release a new version tomorrow!

[2016-11-16 19:01] jdotjdot commented on #94
@romgar Thanks so much! Let us know when you release!  We've been eagerly watching the repo for its release to PyPi since it's been causing us problems.

I will try to test the latest version as well if this isn't released before then.

[2016-11-16 23:00] romgar commented on #94
@vannitotaro @jdotjdot Version `1.2.1` is live and available on pypi. Please check with this version!

[2016-11-16 23:09] jdotjdot commented on #94
No, I'm still having the issue, unfortunately.

[2016-11-16 23:14] jdotjdot commented on #94
Actually--it appears I only am having the issue on models with `MonitorField` from django-model-utils.

[2016-11-16 23:29] romgar commented on #94
@jdotjdot I have tried to create a test with a model containing a `MonitorField`, and I still can't reproduce your issue.
If you could write a test that fails with this latest version of `django-dirtyfields`, I could probably help you more to fix this issue.

[2016-11-16 23:31] romgar commented on #94
Which version of `django-model-utils` are you using?

[2016-11-17 00:40] jdotjdot commented on #94
I *finally* managed to write a failing test!

https://travis-ci.org/jdotjdot/django-dirtyfields/jobs/176563994

[2016-11-17 08:59] vannitotaro commented on #94
@romgar I've just tried: I can confirm v1.2.1 on PyPI solved _my_ issue, not @jdotjdot's one. Maybe it would be better now to change issue title to add a reference to MonitorField somewhere.

[2016-11-17 10:02] romgar commented on #94
@vannitotaro good news! I will update the issue title after I'm sure that's related only to `MonitorField`.

[2016-11-17 23:17] romgar commented on #94
I have simplified your test @jdotjdot and found it passing with `TestMonitorFieldModel` but not with`TestDoubleMonitorFieldModel`:

[code]
Error reproduced, time to work! :-)

[2016-11-17 23:44] romgar commented on #94
And it seems that using only one `MonitorField` in a model is not triggering the recursion error. Only from 2+...

[2016-11-17 23:46] jdotjdot commented on #94
Interesting--but in that case, how come the `TestMonitorFieldModel` in my branch was still failing despite only one `MonitorField`?

[2016-11-18 00:06] romgar commented on #94
I also tried without inheriting from `DirtyFieldsMixin` and I get the same recursion error. It is maybe not related to `django-dirtyfields`.

Can you try to not inherit from `DirtyFieldsMixin` in your models to see if you still have this issue?

[2016-11-18 00:28] romgar commented on #94
I managed to reproduce the issue in `django-model-utils` project: https://github.com/carljm/django-model-utils/issues/241

[2016-11-20 14:35] romgar commented on #94
@jdotjdot closing this issue, as it seems to be not related to `django-dirtyfields`. Currently proposing a patch to solve this issue on `django-model-utils`.

Feel free to reopen it if you think your issue is still related to `django-dirtyfields`.

[2016-11-20 14:35] #94 closed

[2017-01-06 23:35] romgar opened #95 "Drop compatibility for non-supported Django versions"
Time for code cleaning!

It will also improve the build speed on travis.

Next version of `django-dirtyfields` will only support Django 1.8 (LTS), 1.9 and 1.10.

[2017-01-11 21:56] #95 closed

[2017-01-17 16:58] BogdanL opened #98 "get_dirty_fields fails if check_m2m is not None"
Line 101 of dirtyfields.py
`modified_m2m_fields = compare_states(check_m2m, self._original_m2m_state, self.compare_function)`

should be

`modified_m2m_fields = compare_states(self._as_dict_m2m(), self._original_m2m_state, self.compare_function)`

[2017-01-18 09:45] romgar commented on #98
Hi @BogdanL !

Can you show me a code example of how you use this option?

Tracking m2m fields is a bit different than the rest of the fields in `django-dirtyfields`. The original idea of this package is to track a difference between your current instance in memory with the instance that has been previously saved in the database.

As m2m fields are directly saved to the database (overtime you call

[2017-01-27 17:54] romgar commented on #98
I close it for now. Feel free to reopen if needed.

[2017-01-27 17:54] #98 closed

[2017-02-27 00:30] AndreasBackx opened #101 "DateTimeField deepcopy causes error introduced in 1.2.1."
The library moved from a [shallow copy to a deep copy while moving to 1.2.1 from 1.2](https://github.com/romgar/django-dirtyfields/compare/release-1.2...release-1.2.1#diff-03d4c5a503f183e4ca7f22ee6904bc06R69). This caused my project's tests to fail when saving a model with a DateTimeField where `auto_now=True` is set. Haven't done any testing on whether this is the cause (that DateTimeField is the

[2017-02-27 13:19] romgar commented on #101
`deepcopy` was introduced to avoid unexpected behaviour while manipulating compounds objects, where manipulations on copied object led to changes in original objects.

[2017-02-27 17:33] AndreasBackx commented on #101
@romgar I'll try to look at the issue more in detail the coming days. Feel free to ping me to remind me if it has been a while though.

[2017-03-16 08:23] aalebedev opened #102 ""Specify fields to track" proposal"
Hi! I think, it will be a good option - to specify a set of fields to track.

[code]

It can help to get performance improvements (I performed a some tests in my project). There is a such option in django-model-utils: https://django-model-utils.readthedocs.io/en/latest/utilities.html#tracking-specific-fields
If this idea is good, I can try to write a patch.

[2017-03-16 11:34] romgar commented on #102
Hi @aalebedev! Sounds definitely a nice idea!

[2017-03-31 22:23] romgar commented on #101
@AndreasBackx ping :-)

[2017-04-01 12:56] AndreasBackx commented on #101
@romgar thanks for the ping, I'll try to come up with a test case this weekend.

[2017-05-18 09:25] hsmett opened #104 "Improve update_fields handling with ForeignKey"
Hello Hello!

When dealing with ForeignKeys, Django allows to provide the '{field_name}_id' fields name in the `update_fields` `save` parameter. So should you :)
To reproduce the error I got:
[code]
My pull request is coming!
Thanks for your hard work!

[2017-05-18 09:47] hsmett opened #106 "Remove useless code (support < Dj 1.8 dropped)"
in django-dirtyfields/tests/test_save_fields.py:
@unittest.skipIf(django.VERSION < (1, 5), "Django 1.4 doesn't support update_fields param on save()")

Those lines aren't usefull anymore :)

[2017-05-19 10:21] romgar commented on #106
You are right @hsmett, thanks for reporting!

[2017-05-19 10:21] romgar commented on #104
Thanks for your issue creation and PR! I will have a look shortly!

[2017-05-31 06:36] hsmett commented on #104
Hi @romgar, did you find time to look at it?

[2017-06-01 08:04] romgar commented on #104
Sorry about the delay @hsmett ! I will have a look very soon!!

[2017-06-14 11:25] romgar commented on #104
Fixed by #105.

[2017-06-14 11:25] #104 closed

[2017-06-14 13:35] romgar commented on #106
Fixed in #107

[2017-06-14 13:35] #106 closed

[2017-06-19 16:58] romgar opened #109 "Add test coverage for Django 1.11"

[2017-07-07 12:18] romgar commented on #101
@AndreasBackx didn't manage to reproduce the error. Feel free to reopen the issue if you have more concrete elements. Thanks for reporting anyway!

[2017-07-07 12:18] #101 closed

[2017-07-07 12:22] #109 closed

[2017-07-08 13:13] #102 closed

[2017-07-10 17:49] AndreasBackx commented on #101
@romgar I found the culprit and referenced it. Perhaps this could be prevented in the future by not deepcopying primitive types and other "protected types" as Django describes it in their serializers: https://github.com/django/django/blob/master/django/core/serializers/python.py#L44-L47

[2017-09-19 15:55] bparker98 opened #113 "reset_state fails when combining update_fields and FIELDS_TO_CHECK"
When you use FIELDS_TO_CHECK on a model and then save it using update_fields, and update_fields contains a field not in FIELDS_TO_CHECK you get a KeyError because it's trying to pull a field from new_state in reset_state() that is not there.

Quick and dirty repro case:

    class TestModelWithSpecifiedFields(DirtyFieldsMixin, models.Model):
        boolean1 = models.BooleanField(default=True)

[2017-09-19 16:00] romgar commented on #113
Thanks for the reporting and the incoming PR @bparker98 !!

[2017-10-24 07:52] #113 closed

[2018-01-16 18:37] MounirMesselmeni commented on #113
@romgar When do you plan to release this please?

[2018-01-16 18:40] romgar commented on #113
I will create a new release in the next days.

[2018-01-16 19:28] MounirMesselmeni opened #118 "KeyError when using F object and update_fields"
I'm getting a KeyError when trying to update a single field with an F object

[code]
`_as_dict` method will not contain `my_field` when I'm using F objects

[2018-01-19 15:35] romgar commented on #118
Thanks for reporting! Will have a look!

[2018-02-28 21:09] romgar commented on #113
@MounirMesselmeni `1.3.1` released :tada:

Sorry for the delay...

[2018-09-05 19:41] OrDuan opened #132 "Performance hit in a django view"
We saw a performance hit on one of our stats pages where we query around 800 rows of data each one of them has around 15-20 columns, some of them query json fields and some arrays.

We discovered that the issue is in django-dirtyfields, which we use a lot, but not in this specific view.

![screenshot from 2018-09-05 21-19-42](https://user-images.githubusercontent.com/5006049/45116250-d0059580-b15a

[2018-09-08 19:04] romgar commented on #132
Thanks for your reporting @OrDuan !

What is the interface you would like to have to turn them off?

[2018-09-10 12:04] OrDuan commented on #132
We had 3 ideas:
1. Decorator
2. Context manager
3. QuerySet method

The first two are similar in implementation and usage.
The QuerySet option might be our favorite(and probably easiest to implement without mocking[which we tried but it doesn't work well with threads because of the shared memory]), so something like this:

`User.objects.filter(email="test@example.com").no_dirtyfields().first()` /

[2018-09-12 10:04] MiltosD opened #133 "compare m2m"
Using v.1.2.1 I'm trying to make a comparison between stored model.m2m.all() (which is a list) and the one about to be saved...

`dirty_fields = self.get_dirty_fields(
                verbose=True,
                # get list of all referenced 'myField'
                check_m2m={'myField': set([instance.id for instance in self.myField.all()])})`

So if the saved list is `set([1,2,3])` and want to

[2018-09-17 16:40] YAmikep commented on #132
Hi @romgar

I work with @OrDuan
I created a PR to show our current solution if that can help: https://github.com/romgar/django-dirtyfields/pull/134

IMO, it's quite hacky as it requires to override some core django components so if you have a better solution, feel free to ignore all of part of it.

Thanks

[2018-09-18 08:08] romgar commented on #132
Thanks for the PR and sorry for the delay... Will have a look in the next days!!

[2018-09-18 17:39] romgar commented on #133
Hi @MiltosD ! Not sure to fully understand your question. Can you please show a code example to illustrate what is not working as expected?

[2018-09-18 22:18] schlegz opened #135 "next release?"
When will the next release be made?  Was in need of the new `normalise_function`.

[2018-09-18 22:27] #135 closed

[2018-12-06 12:53] korviinn opened #137 "get_dirty_fields after M2M.clear() problem"
Hi,
I'm using django-dirtyfields==1.3.0
And find such a problem:
I've got a model - Order with two fields:
- Vehicle - M2M field
- start_datetime - Datetime field

I try to update start_datetime and delete all vehicles in my Order.
In the result I need to print in logs of usual fields(no FK and M2M), with their new values
In my function I got such code:

When I look in my logs file I see the follo

[2018-12-29 00:04] cvlong opened #139 "Handle enum comparison"
I'm trying to track the changes for a text field where the choices are defined by an Enum class. For example:

[code]

Though this [line](https://github.com/romgar/django-dirtyfields/blob/develop/src/dirtyfields/dirtyfields.py#L71) is casting the instance to a string, so the original and current values aren't able to be compared properly.

[code]

I'd like to propose a small change to handle Enums

[2019-01-25 04:04] shopro opened #141 "Is this still maintained?"
I'm wondering if this is still under active development as it has been 6 months since last commit.

[2019-01-26 08:14] romgar commented on #141
Hi @shopro! I have been way less active the last few months, but as soon as I have more time, I eill catch up with the opened issues/PR.
Really open to have new contributors/maintainers to the project to help me though!

[2019-03-02 16:23] #141 closed

[2019-03-02 17:25] romgar commented on #139
Yes please! Thanks for that!
Associated PR: #140

[2019-03-02 18:56] romgar commented on #133
Closing it because of inactivity. Feel free to open it again @MiltosD if you have some code to show or a more precise description.

[2019-03-02 18:56] #133 closed

[2019-03-02 19:06] romgar commented on #137
Hi @korviinn !

Are you setting the `ENABLE_M2M_CHECK` parameter to `True`?
If that's the case, your `Order` model also starts listening to the `m2m_changed` Django signals (triggered in this case by your `clear()` call, which resets the dirty field tracking and explains why your model instance is in a clean state afterwards.

[2019-06-06 09:20] techdragon commented on #98
@romgar can you reopen this? I'm looking over the documentation and the source code and I can definitely see something that I find unclear. The example for M2M tracking, and the tests, use an explicit dictionary created and passed to the `get_dirty_fields` function. however in addition to the `self._as_dict` function there is clearly a `self._as_dict_m2m` which would when combined with some git hi

[2019-08-09 17:49] romgar commented on #137
Closing the issue for inactivity. Please feel free to open again if needed.

[2019-08-09 17:49] #137 closed

[2019-11-13 14:06] yj7 commented on #132
Any update on this?

[2019-12-08 11:57] dhaval-mehta opened #147 "Add support for enum"
Django dirty field is not detecting changes for enum.

I was going through #140

I would like to work on enum support If the project is active.

[2020-01-17 14:01] lukebryant opened #148 "Handle transaction rollbacks"
Currently, if we do:

[code]

This behaviour is problematic, because field in-memory and database values are still different.

I've thought about this, and I don't see any way of solving it.

We could have a property `uncommitted_dirty_fields`, which we could clear in an `on_commit()` signal, but I can't think of a way of setting `dirty_fields = uncommitted_dirty_fields` in the case of a rollback,

[2020-01-17 14:33] romgar commented on #148
Hey @lukebryant!
Interesting problem...
We could create a custom decorator / context manager that would wrap the transaction atomic and add this missing logic, but that's not really ideal as people would have to know that they should use this custom feature from `dirtyfields` instead of the default Django API...

[2020-01-17 15:47] lukebryant commented on #148
I was thinking this wouldn't work because the context manager would have no way of getting references to all the models that are changed within its scope. Am I missing something, or did you mean that the context manager would take a list of potentially mutating models as arguments?

[2020-01-21 17:24] romgar commented on #148
Yeah you would need to pass these as arguments. Far from ideal for sure...

[2020-01-21 17:26] romgar commented on #148
Right now, I would at least document the issue and ask people to manually save and restore dirty fields for their affected model in case of rollback.

[2020-01-24 18:51] dhaval-mehta commented on #139
@romgar Can you merge #140?

I think DRF and Django have removed support for python2 and changed minimum supported Python version to 3.4

Those who are using Django 1.11 LTS can use older versions without enum support.

[2020-01-29 08:20] mathieu-gillot opened #150 "publish new version ?"
Hi, and thx for the good work on this lib

would it be possible to publish a new 1.4 version to get all new code merged since 1.3 ?

i'm very interested in getting fix done in commit fda116e09e1843f61cc67e1bd4c9635d707948fd for instance

[2020-02-07 18:51] 4word commented on #118
I am still seeing this.

My workaround right now is, whenever I am using an F object, I refresh the instance from the database  and select it for update right before saving and then just use `save()` without the update fields to make sure I am saving the latest version of all the fields.

[2020-03-18 16:45] lubo commented on #150
@romgar We're interested as well.

[2020-04-10 08:20] romgar commented on #150
Yes, on it! Sorry, last months have been a bit intense for me.

[2020-04-13 12:30] romgar commented on #150
Version `1.4` released. Sorry for the delay. I will be more responsive in the future!!

[2020-04-13 12:30] #150 closed

[2020-05-02 20:32] #147 closed

[2020-08-21 21:07] virogenesis opened #153 "Django 3.1 + Python 3.8 support?"
Just wondering if anyone tested if this is safe to use on a Django 3.1 and python 3.8, I know it's not covered by tox, but  if would be interested in if anyone saw any issues.

[2020-08-24 06:06] ron8mcr commented on #153
@virogenesis I've met problem with using `dirtyfields` for `FileField`. Previous Django version used simpler implementation of `__getstate__`, and 3.1 add `instance` to state, so `deepcopy` also copies instance, which is much slower and consume more memory.

Django changes: https://github.com/django/django/commit/f600e3fad6e92d9fe1ad8b351dc8446415f24345
deepcopy: https://github.com/romgar/django-d

[2020-10-27 01:40] LincolnPuzey opened #154 "DirtyFieldsMixin.refesh_from_db() doesn't respect fields argument"
The `refresh_from_db()` method accepts a `fields` argument which controls which fields are reloaded from the database.

See https://docs.djangoproject.com/en/1.11/ref/models/instances/#django.db.models.Model.refresh_from_db

`DirtyFieldsMixin.refesh_from_db()` after calling the super method, resets the entire dirty state, even if only certain fields are refreshed from the db.

e.g.
[code]

At firs

[2020-10-28 20:16] romgar opened #155 "Looking for new contributors"
Hi everyone,

As I have been quite unresponsive in the last weeks/months and I don't have much time to take care of this project anymore, that would be great if someone was interested in handling this project.
I would gladly help / support anyone wanting to give a hand in reviewing PRs, pushing releases, adding more features, etc.
That's an interesting experience for someone who never handled an o

[2020-10-29 09:22] LincolnPuzey commented on #154
For more info, Django uses

[code]
in the `DeferedAttribute` class to load deferred fields from the database when they are accessed.

This means that simply accessing a deferred field with `instance.field` is enough to trigger this bug and reset the whole dirty state

[2020-11-02 01:56] LincolnPuzey commented on #155
Hi @romgar,

I am happy to spend some time maintaining the project, in particular bug fixes and keeping python/django support up-to-date.

[2020-11-24 08:40] romgar commented on #155
Great to hear @LincolnPuzey !
I will give you access to the repository.

Some information about this repository:
- I'm currently following [this flow](https://nvie.com/posts/a-successful-git-branching-model/) for branching/releasing, `develop` is therefore the development branch (all PRs should go to this branch), while `master` is the release branch,
- All PRs should have proper tests covering it

[2020-11-24 10:19] LincolnPuzey commented on #155
Thanks @romgar

[2020-11-28 06:42] LincolnPuzey commented on #154
Fixed in PR #156

[2020-11-28 06:43] #154 closed

[2020-12-16 13:33] LincolnPuzey opened #158 "CI needs to be migrated"
@romgar The existing travis-ci.org CI setup will stop working on December 31st

(https://docs.travis-ci.com/user/migrate/open-source-repository-migration#q-when-will-the-migration-from-travis-ciorg-to-travis-cicom-be-completed)

I think we should migrate our existing travis CI configuration to github actions.
* Travis has communicated this poorly, I'm still not sure if open-source testing is going

[2020-12-22 08:13] LincolnPuzey commented on #158
After spending some time updating the travis build, maybe we should give travis-ci.com a go before doing the work of moving to github.

[2021-01-03 05:53] LincolnPuzey opened #165 "Performance regression using FileField and Django 3.1"
I've met problem with using `dirtyfields` for `FileField`. Previous Django version used simpler implementation of `__getstate__`, and 3.1 add `instance` to state, so `deepcopy` also copies instance, which is much slower and consume more memory.

Django changes: https://github.com/django/django/commit/f600e3fad6e92d9fe1ad8b351dc8446415f24345
deepcopy: https://github.com/romgar/django-dirtyfields/bl

[2021-01-03 05:55] LincolnPuzey commented on #153
@virogenesis Django 3.1 and python 3.8 is now covered by tox. I'll close this issue.

[2021-01-03 05:55] #153 closed

[2021-01-07 12:05] LincolnPuzey commented on #139
@cvlong In your example the list of `choices` you provide for the `enum_field`  evaluates to

[code]

Which is just a list of tuples of strings. So Django and django-dirtyfields knows nothing about the `TestEnums` Enum used to initially define the choices, and `enum_field` is just a regular `TextField` with choices.

So django-dirtyfields should not need to do anything special to handle your use c

[2021-01-07 12:05] #139 closed

[2021-02-26 15:22] dryan commented on #165
I'm getting errors because of this it seems. `cannot pickle '_io.BufferedReader' object` on instances with FileFields. Full traceback below:

[code]

[2021-02-28 03:59] LincolnPuzey commented on #165
@dryan what value are you assigning to the model field? It appears it can't be deepcopied/pickled.

[2021-03-04 04:41] dryan commented on #165
It's an uploaded image.

[2021-03-04 07:20] LincolnPuzey commented on #165
@dryan Can you raise this in a new issue and include your code or a minimal example. something resulting in a stacktrace is not a performance regression.

[2021-03-17 15:21] dryan commented on #165
@LincolnPuzey seems to have been an issue with how Factory Boy was generating ImageField values that they've fixed.

[2021-03-31 03:46] himynameistimli commented on #165
I seem to get a similar issue on my end. For my situation, I'm copying an image field (to a preview image field) when the image is first saved to my model via a DRF serializer.

When upgrading to Django 3.1 (from 3.0) I get an error that seems to be related to the `deepcopy` function. When I remove the `DirtyFieldsMixin` mixin from my model, the error disappears.

[code]

[2021-04-01 02:07] #155 closed

[2021-04-01 02:38] LincolnPuzey commented on #158
travis-ci.org seems to be still working. will close this for now.

[2021-04-01 02:38] #158 closed

[2021-04-01 07:07] LincolnPuzey commented on #165
@himynameistimli might be a bug in `PIL`? since the error is coming from inside `PIL/Image.py", line 696, in __getstate__`

Otherwise django-dirtyfields is deepcopying something it shouldn't.

[2021-04-01 07:24] LincolnPuzey commented on #165
For FileField and ImageField,

My proposal for resolving the performance regression and reducing the chance of errors like the above is for django-dirtyfields to only look at / care about the filepath string saved to the database and ignore the file object / the actual saved files.

This would mean:
1. these fields would be represented as their filepath strings in `_as_dict` and `get_dirtyfields`

[2021-04-01 07:28] LincolnPuzey opened #171 "Rename internal components with leading underscore"
Over time, some functions/methods have been added, without a leading underscore, which really should have one to mark them as internal-only.

[2021-04-01 07:30] LincolnPuzey opened #172 "100% test coverage"
there is only 1 uncovered line - either
a) remove it - breaking change.
b) add a test covering it.

[2021-04-01 07:38] LincolnPuzey opened #173 "Provide sdist and wheels on PyPI"
Publish sdist and wheels to PyPI.

Need to research modern ways of doing this, eg
* using setup.cfg / pyproject.toml
* https://www.python.org/dev/peps/pep-0517/

[2021-04-01 07:54] LincolnPuzey opened #174 "Internal improvements"

[2021-04-01 12:09] LincolnPuzey opened #175 "Proposal: Change DirtyFieldsMixin to DirtyFieldsModel"
tldr: Change `DirtyFieldsMixin` to `DirtyFieldsModel` and make it inherit from`models.Model`

`DirtyFieldsMixin` currrently uses
* `self.get_deffered_fields()`
* `self._meta.fields`
* `self.save()`

and other things provided by `models.Model`. I think it is very unlikely that someone is using it without also inheriting from `models.Model`

Making this change will enforce this inheritence and make

[2021-04-07 14:18] LincolnPuzey opened #176 "Field set to Now() expression doesn't appear as dirty."
Originally reported by @lestatcheb in #117

Test case that currently fails:

[code]

[code]

I think this is a case that should pass. The `Now()` expression represents a value that is different to the database, so the field is dirty.

Ideally a solution should work for the different database expression objects available, not just `Now()`.

[2021-04-10 03:37] LincolnPuzey commented on #132
@OrDuan @YAmikep I think a better solution would be to use a Django Proxy Model.

From the [docs](https://docs.djangoproject.com/en/dev/topics/db/models/#proxy-models):

For example you can have your regular Model:

[code]

Use this class when you don't want dirty fields to be tracked.

Then have a proxy Model which includes `DirtyFieldsMixin`

[code]

Use this class when you _do_ want dirtyfields

[2021-04-10 10:35] #173 closed

[2021-04-10 10:38] LincolnPuzey commented on #175
The small benefit this gives is not worth the cost of breaking all existing usages.

[2021-04-10 10:38] #175 closed

[2021-04-24 10:17] #118 closed

[2021-05-02 07:21] LincolnPuzey opened #183 "Specify fields to ignroe"
Be able to specify a set of fields to ignore.

[2021-05-02 08:20] LincolnPuzey opened #184 "Use _meta.get_fields()"
Use `_meta.get_fields()` to get list of fields, instead of `_meta.concrete_fields` which is a private API

https://docs.djangoproject.com/en/2.2/ref/models/meta/#django.db.models.options.Options.get_fields

[2021-09-09 08:13] AlbericTrancart commented on #165
Hello! Any update on this issue? We are encountering this on a FileField, it doubles the time of our test pipeline. Is there any way to ignore this field from the dirty fields method?

[2021-09-30 21:01] lukashambsch opened #185 "Pass Field Name to Compare Function"
**Is your feature request related to a problem? Please describe.**
I have a decimal field that is limited to 4 decimal places. Even if the persisted value will end up the same, the field will be marked as dirty if the extra decimal places make it different than the current value. I'm trying to write a custom compare function to round the decimal before comparing it, but I haven't been able to find

[2021-10-13 08:52] LincolnPuzey commented on #185
This sounds like a sensible feature to me, I'll try to implement this in a future version.

If you need this right now I recommend you fork and modify `compare.compare_states()` since I can't see any other good way to achieve this.

[2022-02-05 09:03] LincolnPuzey commented on #132
Since no-one objected to my suggestion above, I went ahead and documented it in #193. Going to close this issue now.

[2022-02-05 09:03] #132 closed

[2022-02-28 12:38] LincolnPuzey opened #195 "How to handle auto_now=True fields?"
There have been two PRs (#152 and #194) suggesting some sort of change to the current behavior which is that:

a) Fields with `auto_now=True` do not appear as dirty - they won't appear in `.get_dirty_fields()`
b) And so by extension `.save_dirtyfields()` doesn't include them in `update_fields` so they are not updated by this method.

Some options we have are:

1. Make no changes and document behav

[2022-02-28 12:49] LincolnPuzey commented on #195
@romgar Do you have a strong preference for any option?

I think we should not change the behavior of (a). I would be open to doing something in `save_dirty_fields()` or not making any change at all.

[2022-03-05 14:20] sidmitra commented on #195
@LincolnPuzey 4th option could be to add a parameter? `include_auto_now=True` to save_dirty_fields() ?
 But perhaps Option 1 is also ok. We'll investigate and add comments here on any issues we encounter.

[2022-03-07 09:20] roniemartinez opened #196 "RecursionError with factory-boy==3.2.1"
**Describe the bug**

A regression done in https://github.com/FactoryBoy/factory_boy/pull/799 causes a RecursionError in Django Dirty Fields.

This is probably the right place to solve this issue instead of the factory_boy repo.

**To Reproduce**

Install `factory-boy==3.2.1`

https://github.com/FactoryBoy/factory_boy/issues/895

**Expected behavior**
A clear and concise description of what you ex

[2022-06-28 16:59] DelboyJay opened #201 "ImageFieldFile causes AttributeError exception to be thrown."
**Describe the bug**
When the model has one or more `django.db.models.fields.files.ImageFieldFile` fields and the `_as_dict` function is called an `{AttributeError} 'NoneType' object has no attribute 'seek'` is raised when the deepcopy line is executed.

I found a solution to the problem was to insert a check for the ImageFieldFile class in the `_as_dict` function and cast it to a string that retu

[2022-07-04 19:15] Alamgir-K commented on #201
Tried to replicate the bug but was not able to (even with the same environment versions). Please see the code below for some of the testing I did. The test passed even without the IF check you outlined. Perhaps it would be of help if you're available to provide your usage of the ImageField to see where the issue is.

[code]

[code]

[2022-07-16 05:00] LincolnPuzey commented on #165
Fixed in #203

[2022-07-16 05:00] #165 closed

[2022-07-16 05:32] LincolnPuzey commented on #201
@DelboyJay if you don't share your code that is causing the AttributeError we can only speculate on what is happening.

I have also just merged #203 which is a similar patch to yours, so might fix your issue